.container#body
  %script{ type: 'text/template', id: 'library-template' }
    .events

  %script{ type: 'text/template', id: 'event-template' }
    %span.event-title
      <%= title %>
    %img{alt:'event_img',src:'../img/none.png',id:'event-img'}
    %br
    %div.event-message
      <%= message %>
    %br
    %span.read_more
      start time at •
      %span.start_time
      %br
      end time at •
      %span.end_time
    %br
    %span.show_map
      Show on map

    %hr
  -#- javascript_tag{id:'event-template'} do
  -#  var my_variable = #{title}

  %div#map
    #geolocation{:style => "width: 100%; height: 400px;"}
