.container#body
  %script{ type: 'text/template', id: 'library-template' }
    .events

  %script{ type: 'text/template', id: 'event-template' }
    %span.event-title
      <%= title %>
    %img{alt:'event_img',src:'../img/none.png',id:'event-img'}
    %br
    %div.event-message
      <%= message %>
    %br
    %span.start_time
      <%= start_time %>

    %br
    %span.read_more
      start time •
      =link_to "Read more","#", class:'read_more'

    %hr
  -#- javascript_tag{id:'event-template'} do
  -#  var my_variable = #{title}

  %div#map
    #geolocation{:style => "width: 100%; height: 400px;"}
