// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.library{
  padding: 0.1em 2%;
  display: block;
}
#body{
  padding-top:20px;
}
.navbar-header{
  margin-top:0;
}