// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.library{
  padding: 0.1em 2%;
  display: block;
  width: 50%;
}
#body{
  padding-top:20px;
  height:100%;
  background: white;
}
.event-title:hover{
  color:black;
  cursor: pointer;
}
.event-title{
  color: #464646;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans',arial,sans-serif;
  font-weight: 800;
}
.event-message{
  font-family: 'Open Sans',arial,sans-serif;
  padding-right: 100px;
  display: none;
}

.read_more{
  font-family: courier,courier-new,monospace;
  color: #999;
}
#event-img{
  border-radius: 100%;
  float: right;
  height: 80px;
}
#map{
  width: 50%;
  margin-top: 60px;
  float: right;
}
