// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.library{
  padding: 0.1em 2%;
  display: block;
  width: 50%;
}
#body{
  padding-top:20px;
  height:100%;
  background: white;
}
.event-title:hover{
  color:black;
  cursor: pointer;
}
.event-title{
  color: #464646;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans',arial,sans-serif;
  font-weight: 800;
}
.event-message{
  font-family: 'Open Sans',arial,sans-serif;
  padding-right: 100px;
  display: none;
}

.read_more,.show_map{
  font-family: courier,courier-new,monospace;
  color: #999;
}
#event-img{
  border-radius: 100%;
  float: right;
  height: 80px;
}
.show_map:hover{
  color:black;
  cursor: pointer;
}
#map{
  width: 50%;
  margin-top: 60px;
  float: right;
}
.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}
body{
    padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
  height:100%;
}

#map-canvas {
  width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}