// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 30%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}

.navbar-default {
  background: none;
}
.container > .navbar-header, main > .navbar-header, .container > .navbar-collapse, main > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  float: right;
  font-size: 21px;
}
.navbar > .container .navbar-brand, .navbar > main .navbar-brand, .navbar > .container-fluid .navbar-brand{
  margin-left: 0;
}
.navbar-default .navbar-brand{
  color: black;
}
.row, section {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  #slider {
    display:none;
  }
}

.col-sm-6 {
  width: 30%;
  margin-top:50px;
}
html,body{
  height:100%;
  background: #f7f9f7;
}

  .navbar.navbar-default.navbar-fixed-top{
    left: 375px;
    right: 375px;
  }
